<div class="nav-setting">
  <div class="ui buttons">
    <div class="ui floating dropdown button">
      <i class="icon bars"></i>
      <div class="menu">
        <% if (user) { %>
          <a class="item" href="/posts?author=<%= user._id %>">homepage</a>
          <div class="divider"></div>
          <a class="item" href="/posts/create">新規作成</a>
          <a class="item" href="/signout">ログアウト</a>
        <% } else { %>
          <a class="item" href="/signin">ログイン</a>
          <a class="item" href="/signup">会員登録</a>
        <% } %>
      </div>
    </div>
  </div>
</div>
